# Review Exercise 1

In [1]:
# 1. 
cardinal_numbers = ("FIRST", "SECOND", "THIRD")

In [3]:
# 2.
print(cardinal_numbers[1])

SECOND

In [4]:
# 3.
position1, position2, position3 = cardinal_numbers
print(position1)  # FIRST
print(position2)  # SECOND
print(position3)  # THIRD

FIRST
SECOND
THIRD

In [9]:
# 4
my_name = tuple("John")
print(my_name)

('J', 'o', 'h', 'n')

In [10]:
# 5.
print("X" in my_name) 
print("x" in my_name)

False
False

In [11]:
# 6.
new_tuple = my_name[1:]
print(new_tuple)

('o', 'h', 'n')

# Review Exercise 2

In [13]:
# 1
food = ["RICE", "BEANS"]

In [15]:
# 2
food.append("BROCCOLI")

In [16]:
# 3
food.extend(["BREAD", "PIZZA"])

In [19]:
# 4
print(food[:2])

['RICE', 'BEANS']

In [18]:
# 5
print(food[-1])

PIZZA

In [21]:
# 6
breakfast = "EGGS, FRUIT, ORANGE JUICE".split(", ")
print(breakfast)

['EGGS', 'FRUIT', 'ORANGE JUICE']

In [23]:
# 7
print(len(breakfast))

3

In [24]:
# 8
lengths = [len(item) for item in breakfast]
print(lengths)

[4, 5, 12]

# Review Exercise 3

In [25]:
# 1
data = ((1, 2), (3, 4))

In [26]:
# 2
row_num = 1
for row in data:
    print(f"Row {row_num} sum: {sum(row)}")
    row_num += 1

Row 1 sum: 3
Row 2 sum: 7

In [27]:
# 4
numbers = [5, 2, 9, 1]
numbers_copy = numbers[:]
print(numbers_copy)

[5, 2, 9, 1]

In [28]:
# 5
numbers.sort()
print(numbers)

[1, 2, 5, 9]

# CHALLENGE: LIST OF LISTS

In [29]:
# Challenge: List of Lists

universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

# 1. Print all universities
print("Universities:")
for uni in universities:
    print(uni)

print("\n---\n")

# 2. Print each university name only
print("University Names:")
for uni in universities:
    print(uni[0])

print("\n---\n")

# 3. Calculate average enrollment
total_students = sum(uni[1] for uni in universities)
average_enrollment = total_students / len(universities)
print("Average enrollment:", average_enrollment)

# 4. Calculate average tuition
total_tuition = sum(uni[2] for uni in universities)
average_tuition = total_tuition / len(universities)
print("Average tuition:", average_tuition)

print("\n---\n")

# 5. Find the university with the highest tuition
highest_tuition = max(universities, key=lambda x: x[2])
print("Highest tuition:", highest_tuition[0], "-", highest_tuition[2])

# 6. Find the university with the lowest enrollment
lowest_enrollment = min(universities, key=lambda x: x[1])
print("Lowest enrollment:", lowest_enrollment[0], "-", lowest_enrollment[1])

Universities:
['California Institute of Technology', 2175, 37704]
['Harvard', 19627, 39849]
['Massachusetts Institute of Technology', 10566, 40732]
['Princeton', 7802, 37000]
['Rice', 5879, 35551]
['Stanford', 19535, 40569]
['Yale', 11701, 40500]

---

University Names:
California Institute of Technology
Harvard
Massachusetts Institute of Technology
Princeton
Rice
Stanford
Yale

---

Average enrollment: 11040.714285714286
Average tuition: 38843.57142857143

---

Highest tuition: Massachusetts Institute of Technology - 40732
Lowest enrollment: California Institute of Technology - 2175

# CHALLENGE: WAX POETIC

In [32]:
# Challenge: Wax Poetic

nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF",
         "MANGO", "EXTROVERT", "GORILLA"]

verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", 
         "EXPLODES", "CURDLES"]

adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", 
              "EXUBERANT", "GLISTENING"]

prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", 
                "FOR", "IN", "LIKE", "OVER", "WITHIN"]

adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", 
           "EXTRAVAGANTLY", "TANTALIZINGLY"]

import random

# Pick random words from each list
noun1 = random.choice(nouns)
noun2 = random.choice(nouns)
verb = random.choice(verbs)
adjective = random.choice(adjectives)
preposition = random.choice(prepositions)
adverb = random.choice(adverbs)

# Create a small poem
print(f"The {adjective} {noun1}")
print(f"{verb} {preposition} the {noun2}")
print(f"{adverb}.")

The FURRY CHEF
CURDLES IN the MANGO
TANTALIZINGLY.

# REVIEW EXERCISE 4

In [33]:
# 1
captains = {}

In [34]:
# 2
captains['Enterprise'] = 'Picard'
captains['Voyager'] = 'Janeway'
captains['Defiant'] = 'Sisko'

In [36]:
# 3
if "Enterprise" not in captains:
    captains["Enterprise"] = "UNKNOWN"

if "Discovery" not in captains:
    captains["Discovery"] = "UNKNOWN"

In [37]:
# 4
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by UNKNOWN.

# REVIEW EXERCISE 5

In [38]:
# 5
del captains["Discovery"]

In [39]:
# 6
captains2 = dict(
    Enterprise="Picard",
    Voyager="Janeway",
    Defiant="Sisko",
    Discovery="UNKNOWN"
)

# CHALLENGE: CAPITAL CITY LOOP

In [42]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta'
}

print("Welcome to the Capital City Game!")
print("Type 'exit' anytime to quit.\n")

while True:
    state = input("Enter a state: ")

    # Exit condition (case-insensitive)
    if state.lower() == "exit":
        print("Goodbye!")
        break

    if state in capitals_dict:
        guess = input(f"What is the capital of {state}? ")

        # Check answer (case-insensitive)
        if guess.lower() == capitals_dict[state].lower():
            print("Correct!\n")
        else:
            print(f"Wrong. The capital of {state} is {capitals_dict[state]}.\n")
    else:
        print("That state is not in the dictionary. Try again.\n")

Welcome to the Capital City Game!
Type 'exit' anytime to quit.

Enter a state:  exit

Goodbye!